<!-- Intro Start -->

<header class="intro">
  <div class="wrapper">
    <span class="intro-text">{{ content }}</span>
  </div>
  <a href="#{{ site.pages_list['About'] }}" class="page-scroll" aria-label="Visit my About me section">
    {% if site.me-img contains "https://" %}
    <img class="img-me" src="{{ site.me-img }}" alt="" fetchpriority="high" />
    {% else %}
    <img
      class="img-me"
      src="{{site.baseurl}}{{ site.me-img }}"
      alt=""
    />
    {% endif %}
  </a>
</header>

<!-- Intro End -->
